# Auth Service Environment Variables

NODE_ENV=development
PORT=3001

# MongoDB - EXACT SAME AS MONOLITH BACKEND
MONGO_URI=mongodb+srv://quizwise_user:Rakshita-1006@cluster0.2n6kw7y.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Upstash Redis (Serverless Redis)
UPSTASH_REDIS_URL=redis://default:Aaz2AAIncDIxY2JlZjhjY2I4YTI0MzIwYTljYjlkZjA1YjFkNDkxYXAyNDQyNzg@adjusted-moray-44278.upstash.io:6379
UPSTASH_REDIS_TOKEN=Aaz2AAIncDIxY2JlZjhjY2I4YTI0MzIwYTljYjlkZjA1YjFkNDkxYXAyNDQyNzg
REDIS_URI=redis://default:CECYJIPYq1y38tpPAHxXfKGvnhaBtKz7@redis-12364.c238.us-central1-2.gce.cloud.redislabs.com:12364
# JWT
JWT_SECRET="your-super-secret-key-that-is-long-and-random"

# Google OAuth
GOOGLE_CLIENT_ID=899719437468-o81tag3bm1h3470d98dtb5btfi906jki.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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